// Custom style for Modal component goes here

.modal_cmpt {
    .ant-modal-header {
        background: #f0f0f0;
        padding: 1.5rem 2rem;
        .ant-modal-title {
            font-size: 20px;
        }
    }
}